<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Language" value="Chinese"/>
    <!--0公制，1英制-->
    <add key="Unit" value="0"/>
    <add key="title" value=""/>
    <add key="wellname" value=""/>
    <add key="wellnum" value=""/>
    <add key="clientname" value=""/>
    <add key="clientrep" value=""/>
    <add key="cstunit" value=""/>
    <add key="cstrep" value=""/>
    <add key="cstcomm" value=""/>
    <add key="remark" value=""/>
    <add key="daq" value="10.15.20.26"/>
</appSettings>
</configuration>
